<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Hi my name is Garrett Haymond. I'm a web developer with an emphisis in UI/UX design. I am very into tabletop games like D&D and Magic: The Gathering. I also love anything and everything LOTR.</p>
    <img src="/images/Me.jpg" alt="Image of Me">
</main>
<%- include('partials/footer') %>